/*
 * @Author: etongfu
 * @Email: 13583254085@163.com
 * @Version: 
 * @Date: 2019-06-20 16:52:06
 * @LastEditors: etongfu
 * @LastEditTime: 2019-06-21 17:31:17
 * @Description: editor 页面
 * @youWant: add you want info here
 */
.doc-editor{
  height: 100%;
  display: flex;
  flex-direction: column;
  // header 部分
  .doc-editor-header{
    height: 80px;
    background-color: #fff;
    display: flex;
    border-bottom: 1px solid $border-color;
  }
  // content 部分
  .doc-editor-content {
    display: flex;
    flex: 1; // 自动撑开高度
    padding: 10;
    .doc-editor {
      width: 50%;
      position: relative;
      // div 模拟textarea
      .doc-text-input{
        height: 100%;
        border: none;
        padding: 20px;
        font-size: 16px;
        font-weight: bold;
        outline: 0;
        word-wrap: break-word;
        overflow-x: hidden;
        overflow-y: auto;
        &:focus{
          border: none;
        }
      }
    }
    // 预览文章
    .doc-preview{
      position: relative;
      background-color: #fff;
      border-left: 1px solid $border-color;
      width: 50%;
      padding: 20px;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      &[contenteditable=plaintext-only]{
        &:empty:before {
            content: attr(placeholder);
            display: block;
            color: #ccc;
        }
    }
      h1{
        font-size: 2em;
      }
      h2{
        font-size: 1.5em;
      }
      h3{
        font-size: 1.17rem;
      }
      h5{
        font-size: 0.83em;
      }
      p{
        font-size: 16px;
      }
    }
  }
}