{
  "presets": [
    "react-app"
  ],
  "plugins": ["@babel/plugin-syntax-dynamic-import", 
              [
                  "import",
                  {
                      "libraryName": "antd",
                      "libraryDirectory": "es",
                      "style": true
                  }
              ]
  ]
}