/*
 * @Author: etongfu
 * @Email: 13583254085@163.com
 * @Version: 
 * @LastEditors: etongfu
 * @Description: 通用样式表
 * @youWant: add you want info here
 * @Date: 2019-05-07 14:21:11
 * @LastEditTime: 2019-05-31 16:55:49
 */
// ================== box ==================
.box {
  margin-bottom: 15px;
  margin-top: 15px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.box:not([class*="bg-"]) {
  background: #fff;
}
.box > header,
.box .box-heading {
  background-color: inherit;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}
// ================== box width border and radius ==================
.radius-border-box {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px 20px;
  display: flex;
  border: 0 solid black;
  border-radius: 20px;
  background-color: #fff;
}
// ================== border ==================

// ================== search-title ==================
.search-title {
  padding-bottom: 10px;
  display: flex;
  // 单个查询项
  .search-item-wrap {
    flex: 8;
    display: flex;
    flex-direction: row;
    .search-item {
      min-width: 25%; // 最小宽度
      display: flex;
      flex: 1;
      padding-right: 10px;
      flex-direction: column;
      // 查询条件tips
      .search-tip {
        font-size: small;
        padding-bottom: 2px;
        color: black;
      }
    }
  }
  // 按钮部分
  .search-buttons {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    button{
      margin-left: 10px;
    }
  }
}
// padding
.p-r-30 {
  padding-right: 30px;
}
.m-t-5{
  margin-top: 5px;
}
.m-t-10{
  margin-top: 10px;
}