/*
 * @Author: etongfu
 * @Email: 13583254085@163.com
 * @Version: 
 * @LastEditors: etongfu
 * @Description: 框架样式 
 * @youWant: add you want info here
 * @Date: 2019-05-06 15:00:58
 * @LastEditTime: 2019-06-04 16:11:02
 */
 @import url('./common.scss');
 #ultron {
  @include wh(100%, 100%);
  .app-wrap {
    @include wh(100%, 100%);
    // 页面级内容
    .app{
      width: 100%;
      min-height: 100%;
      background-color: $bg-color;
      display: flex;
      // 侧边栏
      .app-side {
        height: 100%;
        flex: 2.5;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        // ================== 侧边栏内容包裹层 ==================
        .app-side-content {
          position: fixed;
          top: 0;
          width: $side-width; 
          height: 100%;
          .app-side-inner {
            padding: $top-padding 20px;
            // height: 100%;
            // ================== 用户头像和用户名部分 ==================
            .side-user{
              &:hover {
                background-color: rgb(225, 239, 249);
                .user-arrow {
                  color: $theme-color;
                }
              }
              cursor: pointer;
              display: flex;
              width: 80%;
              align-items: center;
              padding: 5px 10px;
              border-radius: 30px;
              .user-avatar,.user-arrow {
                flex: 1;
              }
              .user-info {
                flex: 0 0 70%;
                padding:0 10px;
                // 用户名和备注部分
                .username {
                  color: black;
                  font-weight: bold;
                }
                .remarks {
                  color:  rgb(101, 119, 134);
                  font-size: 17px;
                }
              }
            }
          }
          // ================== Logo部分 ==================
          .side-logo{
            padding-left: 30px;
            position: absolute;
            bottom: 20px;
            img{
              // logo 高度
              height: 25px;
            }
            // 版权信息
            .copyright{
              padding-top: 5px;
              color: #657786;
              font-size: small;
            }
          }
        }
        // ================== 侧边栏部分 ==================
        .side-menu-wrap {
          .side-menu {
            li {
              // a标签样式
              a {
                color: black;
                font-size: 19px;
                font-weight: bold;
                display: flex;
                align-items: center;
                .side-menu-item{
                  border-radius: 30px;
                  display: inline-block;
                  padding: 10px 30px 10px 10px;
                  span {
                    margin-left: 20px;
                  }
                }
                &:hover {
                  .side-menu-item {
                    background-color: rgba(24, 145, 172, 0.1);
                    color: $theme-color;
                  }
                }
              }
              margin: 10px 0;
              // 选中样式
              a.side-menu-active{
                color: $theme-color;
              }
            }
          }
        }
      }
        // ================== 主体内容部分 ==================
        .app-main {
        flex: 4;
        min-width: 800px;
        background-color: #ffffff;
        padding: $top-padding;
        border-left: 1px solid $border-color;
        border-right: 1px solid $border-color;
        // 携带内容的区域内容区域
        .app-content-wrap {
          height: 100%;
          position: relative;
          // header部分
          .main-header {
            position: absolute;
            left: 0;
            right: 0;
            padding: 0 10px;
            border-bottom: 1px solid #e6ecf0;
            margin: 0 -10px;
            max-height: $header-height;
            h2 {
              color: black;
              font-weight: bold;
            }
          }
          // 核心内容部分
          .app-content{
            position: relative;
            height: 100%;
          }
          // 有header的内容
          .app-content-with-header{
            padding-top: 40px;
          }
        }
      }
      // 右边nav
      .app-right-nav {
        height: 100%;
        flex: 3;
        .right-nav-content {
          width: 360px;
          position: fixed;
          top: 0;
          padding: $top-padding 20px;
          height: 100%;;
          .nav-search {
            height: 45px;
            background-color: rgb(230, 236, 240);
            border-radius: 20px;
          }
        }
      }
      
    }
  }
}
