body {
  margin: 0;
  padding: 0;
  background-color: $bg-color !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// theme less

// 1: reset style
/* rebot */
*, *::before, *::after {
  box-sizing: border-box; 
}
html {
  background-color: $bg-color
}
/* reset */
html, body {
 width: 100%;
 height: 100%;
 font-family: Verdana, Microsoft YaHei ,Arial;
 direction: ltr;
 font-size: 12px;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
 margin: 0;
 padding: 0;
}
address,
cite,
dfn,
em,
var {
 font-style: normal;
}
code,
kbd,
pre,
samp {
 font-family: couriernew, courier, monospace;
}
small {
 font-size: 12px;
}
ul,
ol {
 list-style: none;
}
a {
 text-decoration: none;
 cursor: pointer;
}
a:hover,a:visited,:active,a:focus{
 text-decoration: none;
}
sup {
 vertical-align: text-top;
}

sub {
 vertical-align: text-bottom;
}

legend {
 color: #000;
}
fieldset,
img {
 border: 0;
}
button,input,select,textarea {
 font-size: 100%;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
} 
ul,li{
 list-style: none;
}
 /* ======================================== chrome Scrollbar 美化滚动条   ================================== */
::-webkit-scrollbar {
  width: 6px;
  opacity: 0.5;
}
::-webkit-scrollbar:horizontal{
  height: 6px;
} 
::-webkit-scrollbar-track {
      background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #999;
  cursor: -webkit-grab;
  cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-thumb:active {
  background: #333;
} 
/* ======================================== form 修改 ================================== */
input.form-control::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #b4bccc;
}

input.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b4bccc;
}

input.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b4bccc;
}

input.form-control:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #b4bccc;
}